body {
    margin: 0;
    padding: 150px 0px 0px 50px;
}

.header {
    display: flex;
    width: 92%;
    padding: 20px 0px 20px 50px;
    background-color: #24252a;
}

.logo{
    font-family: 'Lalezar', cursive;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

.links{
    padding: 12px;
}