body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding: 50px;
    background-color: #24252a;
}

.logo{
    font-family: 'Lalezar', cursive;
    font-size: 50px;
    text-transform: uppercase;
}