body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 50px;
    padding: 50px;
    float: left;
    background-color: #24252a;
}

.logo{
    float: left;
    font-family: 'Lalezar', cursive;
    font-size: 35px;
    text-transform: uppercase;
}